
::-webkit-scrollbar{
  display: none;
}






.section-title {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 72px;
}
.section-title h2 {
  position: relative;
  display: inline-block;
  line-height: 1;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.section-title h2:before,
.section-title h2:after {
  content: '';
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #8444FA;
  position: absolute;
  top: 2.5px;
}
.section-title h2:before {
  border-left-color: #8444FA;
  right: -30px;
}
.section-title h2:after {
  border-right-color: #8444FA;
  left: -30px;
}
.section-title.dark h2 {
  color: #fff;
}
.section-title.dark .lead {
  color: #bdb9cb;
}
.block-title {
  font-size: 48px;
  margin-bottom: 30px;
}
.block-title span {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  color: #8444FA;
}
.lead {
  color: #948daa;
}
.lead.dark {
  color: #b0aac0;
}

/* buttons style */
.btn-main {   
  padding: 15px 42px;
  background: #8444fa;
  color: #ffffff;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
.btn-main:hover {
  background: #ffffff;
  color: #8444fa;
}
.btn-ghost {
  padding: 13px 40px;
  background: transparent;
  color: #fff;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  border: 2px solid #8444fa;
}
.btn-ghost:hover {
  background: #ffffff;
  color: #fff;
}
.btn-text {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
/*navbar fixed styling */  




.fixed-top {
  background-color: rgba(65, 65, 65, 0.11);
  order: 1px solid rgba(144, 161, 255, 0.171);
  backdrop-filter: blur(10px);
  z-index: 1001 !important;
}
.fixed-top > .container {
  padding-left: var(--bs-gutter-x, 0.75rem) !important;
  padding-right: var(--bs-gutter-x, 0.75rem) !important;
}
.fixed-top .navbar-brand img {
  width: 108px;
}
.top-padding {
  padding-top: 80px;
}
/***********************************************************
  3. General Style 
************************************************************/


/* background color  */ 
body.dark-mode {
  background: radial-gradient(60% 92% at 50% -5.1%, hsl(234, 7%, 4%) 33.78378378378378%, hsl(245, 55%, 12%) 99.54954954954955%); 
}

a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: #8acc00;
}
p:last-of-type {
  margin-bottom: 0;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
.section-block {
  padding-top: 72px;
  padding-bottom: 12px;
  margin-bottom: 60px;
  background: #fff;
  border-radius: 18px;
}
.section-block .row > div {
  margin-bottom: 60px;
}
/* dark mode */
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  color: #222;
}
/* Dark Mode Styling */
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: #fff;
}
.dark-mode p {
  color: #b0aac0;
}
.dark-mode .modal .modal-content {
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(144, 161, 255, 0.171);
  backdrop-filter: blur(50px);


}
/* project menu */

.dark-mode .modal .meta-wrapper {     
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(144, 161, 255, 0.171);
  backdrop-filter: blur(50px);
  color: #b0aac0;
}
.dark-mode .modal .meta-wrapper .meta-value {
  color: #fff;
}
/***********************************************************
  4. Header
************************************************************/
.site-header {
  width: 100%;
  z-index: 1001;
  left: 0;
}
.site-header .navbar {
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 1;
  transition: 0.3s;
}
.site-header .navbar.fixed-top {
  padding-top: 12px;
  padding-bottom: 12px;
}
.site-header .nav-item .nav-link {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.site-header .nav-item .active {
  color: #8444FA;
}
.site-header a {
  color: #222;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.site-header a:hover,
.site-header a:focus {
  color: #945bfd; 
}
.site-header .navbar-brand {
  width: 160px;
}
.site-header .nav-social {
  margin-bottom: 0;
}
.site-header .nav-social li {
  display: inline-block;
  margin-right: 24px;
}
.site-header .nav-social li:last-child {
  margin-right: 0;
}
.site-header .nav-social .list-inline-item {
  margin-right: 24px;
}
.site-header .nav-social .list-inline-item:last-child {
  margin-right: 0;
}
.site-header .nav-social a {
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
}
.site-header .nav-social a:hover {
  color: #fdfdfd;
}
.site-header .header-btn {
  color: #fff;
  padding: 12px 24px;
  text-transform: uppercase;
}
.site-header .header-btn:hover {
  color: #945bfd; 
}
.site-header .navbar-toggler {
  margin-left: 18px;
}
/***********************************************************
  5. Hero Area
************************************************************/


/* landing section */
.hero-area {
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(144, 161, 255, 0.171);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-left: 36px;
  padding-right: 36px;

  margin-bottom: 60px;
}
.hero-area:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.hero-area .hero-content {
  min-height: 83vh;
  position: relative;
  z-index: 10;
}
.hero-area .hero-content > .row {
  width: 100%;
}
.hero-area .hero-head {
  color: #fff;
  font-size: 90px;
}
.hero-area .hero-head small {
  font-size: 24px;
  margin-bottom: 12px;
  display: block;
}
.hero-area .hero-head strong {
  color: #8444FA;
}
.hero-area .content-block {
  text-align: center;
}
.hero-area .content-block p {
  font-size: 24px;
}
.hero-area .image-wrapper {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}
.hero-area .image-wrapper img {
  width: 180px;
  border-radius: 50%;
}
.hero-area .link-group {
  margin-top: 60px;
}
.hero-area .btn-main {
  margin-right: 12px;
}
.hero-area .btn-ghost:hover {
  color: #945bfd; 
}
.hero-area .btn-text:hover {
  color: #fff;
}
.hero-area .typer {
  color: #fff !important;
  font-weight: bold;
}
/* Dark Mode Styling */
.dark-mode .hero-area .hero-facts li {
  background: #2f2f2f;
}
/***********************************************************
  6. Intro Section  
************************************************************/
.intro-section {
  position: relative;
  padding-left: 42px;
  padding-right: 42px;
}
.intro-section .box-wrapper {
  background: #fff;
}
.intro-section .item-wrapper {
  border: 1px solid #e0e0e0;
  padding: 48px;
  border-radius: 12px;
  position: relative;
  background: #fff;
  transition: 0.3s;
}

.intro-section .icon-box {
  font-size: 48px;
  color: #d0cdda;
  transition: 0.3s;
}
.intro-section h3 {
  font-size: 28px;
  margin-bottom: 18px;
}
/* Dark Mode Styling */
.dark-mode .intro-section {
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(144, 161, 255, 0.171);
  backdrop-filter: blur(10px);
}
.dark-mode .intro-section .item-wrapper {
  background-color: rgba(65, 65, 65, 0.11);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(252, 252, 255, 0.171);
}
.intro-section .item-wrapper:hover .icon-box {
  color: #8444FA;
}

.intro-section .item-wrapper:hover {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
  border-color: #8444fa96;
}


.dark-mode .intro-section .icon-box {
  color: #948daa;
  transition: 0.3s;
}
/***********************************************************
  7. Facts Section 
************************************************************/
.facts-section {
  background: #212228;
}
.facts-section .icon-box {
  font-size: 60px;
  color: #8444FA;
  margin-bottom: 18px;
}
.facts-section h3 {
  color: #fff;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 1.4;
}
.facts-section .number-data {
  font-size: 48px;
  color: #bdb9cb;
  font-weight: bold;
}
.facts-section .number-data span {
  font-size: 60%;
  position: relative;
  top: -20px;
  left: 5px;
}
/***********************************************************
  8. About Section 
************************************************************/
.about-section {
  padding-bottom: 80px;
  padding-left: 42px;
  padding-right: 42px;
  position: relative;
}
.about-section .img-wrapper {
  position: relative;
  text-align: left;
}
.about-section .img-wrapper img {
  border-radius: 18px;
}
.about-section .content-block h2 {
  font-size: 48px;
  margin-bottom: 30px;
}
.about-section .content-block h2 span {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  color: #8444FA;
}
.about-section .content-block h2 strong {
  display: block;
  font-size: 30px;
  margin-top: 24px;
}
.about-section .personal-details {
  margin-top: 36px;
  margin-bottom: 36px;
}
.about-section .personal-details > div {
  margin-bottom: 0;
}
.about-section .personal-info li {
  margin-bottom: 18px;
}
.about-section .personal-info h4 {
  font-size: 16px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
/* Dark Mode Styling */
.dark-mode .about-section {
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(144, 161, 255, 0.171);
  backdrop-filter: blur(10px);


}
/***********************************************************
  9. Skill Sections
************************************************************/
.skill-section {
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(144, 161, 255, 0.171);
  backdrop-filter: blur(10px);
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-left: 42px;
  padding-right: 42px;
}
.skill-section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
  border-radius: 18px;
}
.skill-section h2 {
  color: #fff;
  font-size: 48px;
  margin-bottom: 36px;
}
.skill-section h2 span {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  color: #8444FA;
}
.skill-section .lead {
  color: #bdb9cb;
}
.skill-section .content-block {
  padding-right: 72px;
}
.skill-section .progress-block {
  margin-top: 30px;
}
.skill-section .progress-block h4 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 12px;
}
.skill-section .progress-wrapper {
  margin-bottom: 24px;
  position: relative;
}
.skill-section .progress {
  height: 0.5rem;
  position: relative;
}
.skill-section .progress-bar {
  background-color: #8444FA;
}
.skill-section .progress-value {
  position: absolute;
  right: 0;
  top: 2px;
  color: #8444FA;
  font-size: 16px;
}
.progress-bar {
  transition-duration: 3s;
}
/***********************************************************
  10. Portfolio Section
************************************************************/
.portfolio-section {
  padding-bottom: 100px;
  padding-left: 42px;
  padding-right: 42px;
  position: relative;
  /* portfolio detials styling */
}
.portfolio-section .row > div {
  margin-bottom: 24px;
}
.portfolio-section .filter-button-group {
  text-align: center;
  margin-bottom: 48px;
}
.portfolio-section .filter-button-group button {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background: transparent;
  padding: 6px 12px;
  color: #615978;
  font-size: 16px;
  transition: 0.3s;
}
.portfolio-section .filter-button-group button:hover {
  background-color: #8444FA;
  color: #fafafa;
  border-color: #8444FA;

}
.portfolio-section .filter-button-group .active {
  background: #8444FA;
  color: #fff5f5;
  border-color: #8444FA;
}




.portfolio-section .box {
  background-color: #774691;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.portfolio-section .box:before,
.portfolio-section .box:after {
  content: '';
  background: #8444FA;
  height: 50%;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  top: -50%;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease-in 0s;
}
.portfolio-section .box:after {
  top: auto;
  bottom: -50%;
}
.portfolio-section .box img {
  width: 100%;
  height: auto;
}
.portfolio-section .box .box-content {
  color: #fff;
  text-align: center;
  width: 100%;
  opacity: 0;
  position: absolute;
  bottom: 40%;
  left: 0;
  z-index: 2;
  transition: all 0.3s ease-out 0.1s;
  padding-right: 36px;
  padding-left: 36px;
  padding-bottom: 60px;
}

.portfolio-section .box .title {
  font-size: 21px;
  line-height: 1.3;
  color: #000000;
  text-transform: capitalize;
  margin: 0;
}
.portfolio-section .box .category {
  color: #fff;
  opacity: 0.8;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}
.portfolio-section .box .icon-box {
  padding: 0;
  margin: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 70%;
  z-index: 2;
  transition: all 0.3s ease-out 0.1s;
}
.portfolio-section .box .icon-box a {
  width: 48px;
  height: 48px;
  line-height: 49px;
  background: rgba(0, 0, 0, 0.432);
  display: block;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  color: #fff;
}
.portfolio-section .box .icon-box a:hover {
  background: #00000077;
  color: #ffffff;
}
.portfolio-section .box:hover:before {
  top: 0;
}
.portfolio-section .box:hover:after {
  bottom: 0;
}
.portfolio-section .box:hover .box-content {
  opacity: 1;
  bottom: 0;
}
.portfolio-section .box:hover .icon-box {
  opacity: 1;
  top: 50%;
}
.portfolio-section .box .icon li {
  margin: 0 3px;
  display: inline-block;
}
.portfolio-section .box .icon li a {
  color: #444;
  background-color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 36px;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  display: block;
  transition: all 0.3s ease 0s;
}
.portfolio-section .box .icon li a:hover {
  color: #fff;
  background: #12c2e9;
}
.portfolio-section .btn-close {
  position: absolute;
  right: 54px;
  top: 54px;
  background: #8444FA;
  color: #fff;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 36px;
  border-radius: 50%;
  transition: 0.3s;
}
.portfolio-section .item-content > div {
  margin-bottom: 0;
}
.portfolio-section .content-wrapper {
  padding: 30px 12px 24px 0;
}
.portfolio-section .content-wrapper .item-title {
  font-size: 36px;
  margin-bottom: 24px;
}
.portfolio-section .modal-body {
  padding: 36px 36px 12px;
}
.portfolio-section .modal-body img {
  border-radius: 12px;
}
.portfolio-section .meta-wrapper {
  background: #f6f6f6;
  padding: 30px;
  margin-top: 42px;
  border-radius: 8px;
}
.portfolio-section .item-meta {
  font-size: 16px;
}
.portfolio-section .item-meta li {
  margin-bottom: 18px;
}
.portfolio-section .item-meta li span {
  font-weight: bold;
  color: #222;
  margin-left: 8px;
}
/* Dark Mode Styling */
.dark-mode .portfolio-section {
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(144, 161, 255, 0.171);

}
.dark-mode .filter-button-group button {
  color: #fefdff;
  border: 1px solid #606060;
}

/***********************************************************
  Button Demo View
************************************************************/

.demobutton {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: .75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: .75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .3s;
}

.demobutton__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.demobutton:hover {
  background-color: #000;
  color: #fff;
}

.demobutton:hover .demobutton__icon-wrapper {
  color: #000;
}

.demobutton__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.demobutton:hover .demobutton__icon-svg:first-child {
  transition: transform .3s ease-in-out;
  transform: translate(150%, -150%);
}

.demobutton:hover .demobutton__icon-svg--copy {
  transition: transform .3s ease-in-out .1s;
  transform: translate(0);
}


/***********************************************************
  11. Service Section
************************************************************/
.service-section {
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(144, 161, 255, 0.171);
  backdrop-filter: blur(10px);
  position: relative;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 100px;
}
.service-section .row > div {
  margin-bottom: 24px;
}
.service-section p {
  color: #b0aac0;
  transition: 0.3s;
}
.service-section h3 {
  color: #fff;
  margin-bottom: 30px;
  transition: 0.3s;
}
.service-section .icon-box {
  font-size: 36px;
  color: #fafafa;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 96px;
  height: 96px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  position: relative;
}
.service-section .icon-box i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.service-section .content-wrapper {
  border: 1px solid #8444FA;
  padding: 60px 48px;
  text-align: center;
  border-radius: 10px;
  transition: 0.4s;
}
.service-section .content-wrapper:hover {
  background: #fff;
}
.service-section .content-wrapper:hover .icon-box {
  background: #8444FA;
  color: #ffffff;
}
.service-section .content-wrapper:hover h3 {
  color: #222;
}
.service-section .content-wrapper:hover p {
  color: #615978;
}
/* Dark Mode Styling */
.dark-mode .service-section .content-wrapper:hover {
  background: #2d2e36;
}
.dark-mode .service-section .content-wrapper:hover h3 {
  color: #fff;
}
.dark-mode .service-section .content-wrapper:hover p {
  color: #b0aac0;
}
.dark-mode .service-section .icon-box {
background-color: rgba(65, 65, 65, 0);
 border: 1px solid #8444FA;

}
/***********************************************************
  12. Resume Section
************************************************************/
.resume-section {
  padding-left: 42px;
  padding-right: 42px;
  position: relative;
  z-index: 1;
}
.resume-section h3 {
  margin-bottom: 48px;
}
.resume-section h4 {
  font-size: 21px;
  margin-bottom: 12px;
}
.resume-section h4 span {
  font-family: 'Open Sans', sans-serif;
  color: #615978;
  font-size: 70%;
  float: right;
}
.resume-section h5 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.resume-section .education-block {
  padding-right: 72px;
}
.resume-section ul {
  margin-bottom: 0;
}
.resume-section li {
  margin-bottom: 36px;
}
.resume-section li:last-child {
  margin-bottom: 0;
}
.resume-section li:last-child .icon-box:after {
  content: none;
}
.resume-section .icon-block {
  margin-right: 24px;
}
.resume-section .icon-box {
  width: 60px;
  height: 60px;
  background-color: #8444FA;
  border: 1px solid #ffffff00;
  color: #ffff;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
  position: relative;
}
.resume-section .icon-box:after {
  content: '';
  width: 1px;
  height: 200px;
  background: #dadada;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: -1;
}
/* Dark Mode Styling */
.dark-mode .resume-section {
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(144, 161, 255, 0.171);
}
.dark-mode .resume-section h4 span {
  color: #fcfbff;
}
.dark-mode .resume-section .icon-box:after {
  background: #fffefe;
}
/***********************************************************
  13. Testimonial Section
************************************************************/
.testimonial-section {
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(144, 161, 255, 0.171);
  background-size: cover;
  padding-bottom: 107px;
  padding-left: 42px;
  padding-right: 42px;
  position: relative;
  z-index: 1;
}
.testimonial-section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
  border-radius: 18px;
}
.testimonial-section .item-wrapper {
  background: #fff;
  padding: 60px 48px 48px;
  position: relative;
  margin-top: 36px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(71, 6, 176, 0.1);
}
.testimonial-section .item-wrapper:after {
  content: '';
  width: 90%;
  height: 90%;
  position: absolute;
  left: 5%;
  bottom: -18px;
  background: #fff;
  border-radius: 10px;
  z-index: -1;
}
.testimonial-section .item-wrapper p {
  font-style: italic;
  margin-bottom: 30px;
}
.testimonial-section .item-wrapper h4 {
  font-size: 21px;
}
.testimonial-section .item-wrapper h4 span {
  display: block;
  margin-top: 8px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #948daa;
}
.testimonial-section .quote-icon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgb(255, 255, 255);
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 72px;
}
.testimonial-section .quote-icon img {
  width: 35px;
}
.testimonial-section .quote-author {
  text-align: left;
}
.testimonial-section .quote-author .image-block {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 18px;
}
.testimonial-section .quote-author h4 {
  margin-bottom: 0;
}
/* Dark Mode Styling */
.dark-mode .testimonial-section .item-wrapper {
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(248, 248, 248, 0.986);
 
}
.dark-mode .testimonial-section .item-wrapper:after {
  background-color: rgba(65, 65, 65, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);}
/***********************************************************
  14. Blog Section
************************************************************/
.blog-section {
  padding-bottom: 36px;
  padding-left: 42px;
  padding-right: 42px;
  position: relative;
  /* Blog details styling */
}
.blog-section h3 {
  margin-bottom: 0;
  line-height: 1.3;
}
.blog-section h3 a {
  text-transform: initial;
}
.blog-section .post-meta {
  margin-bottom: 6px;
}
.blog-section .post-meta li {
  display: inline-block;
  margin-right: 12px;
  font-size: 16px;
  color: #948daa;
}
.blog-section .post-meta li a {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-transform: initial;
  transition: 0.3s;
}
.blog-section .post-meta li a:hover {
  color: #8444FA;
}
.blog-section .content-wrapper {
  position: relative;
}
.blog-section .image-wrapper {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.blog-section .image-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.blog-section .post-content {
  position: absolute;
  left: 30px;
  bottom: 30px;
  right: 30px;
  z-index: 1;
}
.blog-section .large-post .post-content {
  left: 48px;
  bottom: 48px;
  right: 48px;
}
.blog-section .large-post .post-content h3 {
  font-size: 30px;
}
.blog-section .large-post .post-content h3 a {
  color: #fff;
  transition: 0.3s;
}
.blog-section .large-post .post-content h3 a:hover {
  color: #8444FA;
}
.blog-section .large-post .post-meta li {
  color: #fff;
}
.blog-section .large-post .content-wrapper:hover .image-wrapper:after {
  background: rgba(0, 0, 0, 0.5);
}
.blog-section .post-group .row > div {
  margin-bottom: 24px;
}
.blog-section .post-group .post-content {
  top: 30px;
}
.blog-section .post-group .post-content .post-meta {
  position: absolute;
  height: 100%;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
}
.blog-section .post-group .post-content .post-meta a {
  color: #948daa;
}
.blog-section .post-group .post-content .post-cat {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.blog-section .post-group .post-content .post-date {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.blog-section .post-group h3 {
  font-size: 21px;
  margin-top: 30px;
  z-index: 2;
  position: relative;
}
.blog-section .post-group h3 a {
  color: #222;
  text-transform: initial;
  transition: 0.3s;
}
.blog-section .post-group h3 a:hover {
  color: #8444FA;
}
.blog-section .post-group .content-wrapper {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
.blog-section .post-group .content-wrapper:hover .image-wrapper {
  opacity: 1;
}
.blog-section .post-group .content-wrapper:hover .image-wrapper:after {
  background: rgba(0, 0, 0, 0.5);
}
.blog-section .post-group .content-wrapper:hover h3 {
  color: #fff;
}
.blog-section .post-group .content-wrapper:hover h3 a {
  color: #fff;
}
.blog-section .post-group .content-wrapper:hover h3 a:hover {
  color: #8444FA;
}
.blog-section .post-group .content-wrapper:hover .post-meta li {
  color: #fff;
}
.blog-section .post-group .content-wrapper:hover .post-meta li a {
  color: #fff;
}
.blog-section .post-group .content-wrapper:hover .post-meta li a:hover {
  color: #8444FA;
}
.blog-section .post-group .image-wrapper {
  opacity: 0;
  transition: 0.3s;
}

/***********************************************************
  15. Partner Section  
************************************************************/
.partner-section {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #212228;
  border-radius: 18px;
  margin-bottom: 60px;
}
.partner-section .image-wrapper {
  text-align: center;
}
/***********************************************************
  16. Contact Section
************************************************************/
.contact-section {
  padding-bottom: 60px;
  padding-left: 42px;
  padding-right: 42px;
  position: relative;
  /* contact form message */
}
.contact-section .icon-box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #8444FA;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  margin-right: 24px;
  font-size: 24px;
}
.contact-section a {
  font-family: 'Open Sans', sans-serif;
  color: #615978;
  text-transform: initial;
  transition: 0.3s;
}
.contact-section a:hover {
  color: #8444FA;
}
.contact-section address {
  margin-bottom: 0;
}
.contact-section h3 {
  font-size: 36px;
  margin-bottom: 48px;
}
.contact-section .map-wrapper {
  min-height: 396px;
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid #8444FA;
  backdrop-filter: blur(10px);
  margin-right: 90px;
  border-radius: 10px;
}
.contact-section form > div {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.contact-section input,
.contact-section textarea {
  border-radius: 4px !important;
}
.contact-section textarea {
  min-height: 183px;
}
.contact-section .form-control {
  padding: 12px 18px;
}
.contact-section .form-control:focus {
  border-color: #ceff66;
  box-shadow: none;
}
.contact-section button {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
.contact-section .form-message p {
  font-size: 14px;
}
.contact-section .form-message p.error,
.contact-section .form-message p.success {
  padding-bottom: 24px;
}
.contact-section .form-message p.success {
  color: #00b300;
}
.contact-section .form-message p.error {
  color: #ff3333;
}
/* Dark Mode Styling */
.dark-mode .contact-section {
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(144, 161, 255, 0.171);
  backdrop-filter: blur(10px);
}
.dark-mode .contact-section address {
  color: #b0aac0;
}
.dark-mode .contact-section a {
  color: #b0aac0;
}
.dark-mode .contact-section a:hover {
  color: #8444FA;
}
.dark-mode .contact-section .form-control {
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid #8444FA;
  color: #ffffff;
}
.dark-mode .contact-section .form-control:focus {
  border-color: #8444FA;
}
/***********************************************************
  17. Site Footer 
************************************************************/
.site-footer {
  position: relative;
}
.site-footer .footer-main {
  background-color: rgba(65, 65, 65, 0.11);
  border: 1px solid rgba(144, 161, 255, 0.171);
  backdrop-filter: blur(10px);
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 60px;
  padding-left: 42px;
  padding-right: 42px;
  position: relative;
  z-index: 1;
  border-radius: 18px;
}
.site-footer .footer-main:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
  border-radius: 18px;
}
.site-footer .container {
  position: relative;
}
.site-footer h3 {
  color: #fff;
  font-size: 21px;
  margin-bottom: 30px;
}
.site-footer p {
  color: #b0aac0;
}
.site-footer input {
  padding-left: 24px;
  padding-right: 24px;
}
.site-footer input:focus {
  border-color: #8444FA;
  box-shadow: none;
}
.site-footer .footer-brand {
  margin-bottom: 36px;
  display: inline-block;
}
.site-footer .footer-brand img {
  width: 148px;
}
.site-footer .footer-social {
  margin-top: 48px;
}
.site-footer .footer-social li {
  margin-right: 24px;
}
.site-footer .footer-social li:last-child {
  margin-right: 0;
}
.site-footer .footer-social a {
  color: #fff;
  transition: 0.3s;
  font-size: 24px;
  display: inline-block;
}
.site-footer .footer-social a:hover {
  color: #8444FA;
  transform: translateY(-5px);
}
.site-footer .back-to-top {
  position: absolute;
  top: -30px;
  right: 42px;
  z-index: 100;
}
.site-footer .back-to-top a {
  color: #ffffff;
  width: 60px;
  height: 60px;
  background: #8444FA;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  transition: 0.3s;
  border-radius: 50%;
  display: inline-block;
}
.site-footer .footer-bottom {
  margin-top: 48px;
  color: #615978;
  padding-bottom: 48px;
}
.site-footer .footer-bottom p {
  font-size: 16px;
  color: #615978;
}
.site-footer .footer-bottom ul {
  margin-bottom: 0;
  color: #615978;
}
.site-footer .footer-bottom ul a {
  font-family: 'Open Sans', sans-serif;
  color: #615978;
  text-transform: capitalize;
  font-size: 16px;
}
/* dark mode styling */
.dark-mode .footer-bottom p {
  color: #948daa;
}
.dark-mode .footer-bottom ul a {
  color: #948daa;
}
/***********************************************************
  18. Libraries
************************************************************/
/* PRE LOADER */
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 10000;
}
.dots .dot {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 10px 0 10px;
  border-radius: 50%;
  background: #8444FA;
  -webkit-animation: dot-dot-dot 1.4s linear infinite;
  animation: dot-dot-dot 1.4s linear infinite;
}
.dots .dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dots .dot:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes dot-dot-dot {
  0%,
  60%,
  100% {
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
  }
  30% {
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}
/* swiper */
.swiper {
  width: 100%;
  height: 420px;
}
.swiper .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.5;
  width: 8px;
  height: 8px;
}
.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #8444FA;
  opacity: 1;
}
.partnerCarousel {
  overflow: hidden;
  width: 100%;
}
/* overwriting magic mouse */
body #magicMouseCursor {
  border: 1px solid #8444FA !important;
}
body #magicPointer {
  background: #8444FA !important;
  z-index: 1000;
}
body #magicPointer.is-hover {
  background: #8444FA !important;
}
/***********************************************************
  19. Media Queries 
************************************************************/
/* max-width: 1599px and min-width:992px */
@media (max-width: 1599px) and (min-width: 992px) {
  .hero-area .hero-head {
    font-size: 90px;
  }
}
/* max-width: 1599px and min-width:1200px */
@media (max-width: 1599px) and (min-width: 1200px) {
  .site-header .navbar {
    z-index: 1000;
  }
  .site-header .navbar .navbar-nav {
    right: 12px;
  }
  .site-header .navbar .nav-social {
    left: 12px;
  }
  .hero-area .hero-facts li {
    padding: 16px;
  }
  .hero-area .hero-facts li:first-child {
    left: 96px;
  }
  .hero-area .hero-facts li:nth-child(2) {
    right: -90px;
  }
  .hero-area .hero-facts li p {
    font-size: 36px;
  }
  .hero-area .hero-facts li h4 {
    font-size: 15px;
  }
  .about-section .img-wrapper:before {
    left: 24px;
  }
  .service-section .content-wrapper {
    padding: 48px 36px;
  }
  .testimonial-section .swiper {
    height: 480px;
  }
}
/* Max-width: 1399px and Min-width: 1200px */
@media (max-width: 1399px) and (min-width: 1200px) {
  .hero-area .hero-content > .row {
    margin-top: 72px;
  }
}
/* min-width: 1200px */
@media (min-width: 1200px) {
  .site-header .navbar-expand-xl .navbar-collapse {
    flex-direction: column;
  }
  .site-header .navbar-expand-xl .navbar-nav {
    flex-direction: column;
  }
  .site-header .navbar-nav {
    position: fixed;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
  }
  .site-header .nav-item {
    margin-bottom: 8px;
  }
  .site-header .nav-item:last-child {
    margin-bottom: 0;
  }
  .site-header .nav-link {
    width: 60px;
    height: 60px;
    background-color: rgba(65, 65, 65, 0.11);
    border: 1px solid rgba(144, 161, 255, 0.171);
    backdrop-filter: blur(10px);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 47px;
    position: relative;
    font-size: 24px;
  }
  .site-header .nav-link span {
    font-size: 16px;
    display: inline-block;
    padding: 4px 24px;
    position: absolute;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    background: #8444FA;
    border-radius: 50px;
    display: none;
    color: #fff;
  }
  .site-header .nav-link:hover span {
    display: block;
  }
  .site-header .nav-link.active {
    background: #8444FA;
    color: #ffffff;
  }
  .site-header .nav-link.active span {
    color: #8444FA;
  }
  .site-header .nav-social {
    position: fixed;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
  }
  .site-header .nav-social li {
    display: block;
    margin-bottom: 12px;
  }
  .site-header .nav-social li.facebook-link a {
    background: #1877f2;
  }
  .site-header .nav-social li.twitter-link a {
    background: #1da1f2;
  }
  .site-header .nav-social li.linkedin-link a {
    background: #0077b5;
  }
  .site-header .nav-social li.instagram-link a {
    background: #405de6;
  }
  .site-header .nav-social li.tiktok-link a {
    background: #EE1D52;
  }
  .site-header .nav-social li:last-child {
    margin-bottom: 0;
  }
  .site-header .nav-social a {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #8444FA;
    border-radius: 50%;
  }
  .about-section.section-block .row > div {
    margin-bottom: 0;
  }
  .skill-section.section-block {
    padding-bottom: 1px;
  }
  .portfolio-section {
    padding-bottom: 48px;
  }
  .service-section {
    padding-bottom: 48px;
  }
  .testimonial-section {
    padding-bottom: 60px;
  }
  .blog-section {
    padding-bottom: 1px;
  }
  .contact-section {
    padding-bottom: 1px;
  }
}
/* max-width: 1199px */
@media (max-width: 1199px) {
  .btn-main {
    padding: 12px 30px;
  }
  .btn-ghost {
    padding: 10px 28px;
  }
  .section-title {
    width: 80%;
  }
  .site-header .navbar-toggler {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 0.25rem;
  }
  .site-header .navbar-toggler:focus {
    box-shadow: none;
  }
  .site-header .navbar-toggler-icon {
    line-height: 1.5em;
  }
  .site-header .nav-link {
    color: #222;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
  }
  .site-header .nav-link span {
    margin-left: 12px;
  }
  .site-header .nav-link.active,
  .site-header .nav-link:hover {
    color: #9ce600;
  }
  .site-header .navbar-collapse {
    background: #fff;
  }
  .site-header .nav-social {
    padding: 1.2rem;
  }
  .site-header .nav-social:before {
    content: none;
  }
  .site-header .nav-social a {
    color: #8444FA;
  }
  .site-header .nav-social .facebook-link a {
    color: #1877f2;
  }
  .site-header .nav-social .twitter-link a {
    color: #1da1f2;
  }
  .site-header .nav-social .linkedin-link a {
    color: #0077b5;
  }
  .site-header .nav-social .instagram-link a {
    color: #405de6;
  }
  .site-header .nav-social .tiktok-link a {
    color: #EE1D52;
  }
  .hero-area {
    text-align: center;
  }
  .hero-area .content-block {
    margin-bottom: 120px;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .hero-area .hero-head {
    font-size: 60px;
  }
  .hero-area .image-wrapper {
    text-align: center;
    margin-top: 120px;
  }
  .about-section .img-wrapper {
    text-align: center;
  }
  .about-section .content-block h2 {
    font-size: 48px;
  }
  .about-section .content-block h2 span {
    margin-bottom: 12px;
  }
  .about-section .content-block h2 strong {
    font-size: 24px;
  }
  .skill-section .content-block {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .skill-section h2 span {
    margin-bottom: 12px;
  }
  .portfolio-section .meta-wrapper {
    margin-top: 12px;
    margin-bottom: 30px;
  }
  .resume-section .experience-block,
  .resume-section .education-block {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .resume-section h4 span {
    display: block;
    margin-top: 12px;
    float: none;
  }
  .resume-section .icon-box:after {
    content: none;
  }
  .features-section .image-wrapper {
    text-align: center;
  }
  .features-section .image-wrapper img {
    width: 60%;
  }
  .features-section .content-block {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .features-section h4 span {
    display: block;
    margin-top: 12px;
    float: none;
  }
  .features-section .icon-box:after {
    content: none;
  }
  .blog-section .large-post .post-content h3 {
    font-size: 24px;
  }
  .blog-section .large-post img {
    width: 100%;
  }
  .blog-section .post-group h3 {
    font-size: 18px;
  }
  .contact-section .icon-box {
    flex-shrink: 0;
  }
  .contact-section .map-wrapper {
    margin-right: 0;
  }
  .site-footer .social-block li {
    margin-right: 15px;
  }
  /* Dark mode styling */
  .dark-mode .site-header .navbar-collapse {
    background: #282930;
  }
  .dark-mode .site-header .nav-link {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .dark-mode .site-header .nav-link.active {
    color: #8444FA;
  }
}
/* max-width: 1199px and min-width:992px */
@media (max-width: 1199px) and (min-width: 992px) {
  .blog-section .post-group h3 {
    line-height: 1.2;
    margin-top: 24px;
  }
}
/* max-width: 991px and min-width:768px */
@media (max-width: 991px) and (min-width: 768px) {
  .testimonial-section .swiper {
    height: 360px;
  }
  .blog-section .row .large-post {
    margin-bottom: 24px;
  }
  .blog-section .post-footer > div.blog-tags {
    margin-bottom: 18px;
  }
  .blog-section .modal .blog-title {
    font-size: 30px;
  }
  .site-footer .row > div {
    margin-bottom: 48px;
  }
  .site-footer .row > div:last-child {
    margin-bottom: 0;
  }
}
/* max-width: 767px */
@media (max-width: 767px) {
  .btn-main,
  .btn-ghost,
  .bt-text {
    font-size: 16px;
  }
  .block-title {
    font-size: 36px;
  }
  .fixed-top .navbar-brand img {
    width: 96px;
  }
  .hero-area .content-block {
    margin-top: 0;
  }
  .hero-area .link-group {
    white-space: nowrap;
  }
  .hero-area .btn-main {
    margin-right: 0;
    margin-bottom: 30px;
    display: inline-block;
  }
  .hero-area .hero-social {
    display: block;
  }
  .hero-area .hero-social li:last-child {
    margin-right: 0;
  }
  .hero-area .hero-social a {
    font-size: 21px;
  }
  .hero-area .hero-head {
    font-size: 48px;
  }
  .hero-area .hero-head small {
    font-size: 21px;
    margin-bottom: 12px;
  }
  .hero-area .content-block p {
    font-size: 18px;
  }
  .intro-section .row > div {
    margin-bottom: 36px;
  }
  .facts-section .row > div {
    margin-bottom: 36px;
  }
  .skill-section {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .skill-section .row > div {
    margin-bottom: 36px;
  }
  .skill-section h2 {
    font-size: 30px;
  }
  .skill-section .content-block {
    margin-bottom: 36px;
  }
  .portfolio-section .content-wrapper {
    padding-top: 24px;
  }
  .portfolio-section .content-wrapper .item-title {
    font-size: 30px;
  }
  .portfolio-section .modal-body {
    padding: 18px 18px 6px;
  }
  .portfolio-section .meta-wrapper {
    margin-top: 0;
    margin-bottom: 12px;
  }
  .portfolio-section .btn-close {
    right: 30px;
    top: 30px;
  }
  .resume-section .education-block,
  .resume-section .experience-block {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .features-section .image-wrapper img {
    width: 80%;
    position: relative;
    left: -20px;
  }
  .testimonial-section {
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .testimonial-section .swiper {
    height: 440px;
  }
  .testimonial-section .swiper-pagination {
    bottom: 0;
  }
  .blog-section .row .large-post {
    margin-bottom: 24px;
  }
  .blog-section .row .large-post .post-content {
    left: 30px;
    right: 30px;
    bottom: 30px;
  }
  .blog-section .row .large-post .post-content h3 {
    font-size: 21px;
  }
  .blog-section .post-meta li {
    font-size: 14px;
  }
  .blog-section .modal .blog-title {
    font-size: 24px;
    text-align: left;
    margin-bottom: 18px;
  }
  .blog-section .modal .blog-content > div {
    margin-bottom: 24px;
  }
  .blog-section .modal .blog-meta {
    margin-bottom: 18px;
  }
  .blog-section .modal .blog-meta li {
    margin-bottom: 6px;
  }
  .blog-section .modal .btn-close {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
  .blog-section .post-footer > div.blog-tags {
    margin-bottom: 18px;
  }
  .blog-section .post-footer > div.blog-tags h4 {
    margin-bottom: 6px;
  }
  .contact-section .contact-options > div {
    margin-bottom: 30px;
  }
  .contact-section form > div {
    margin-top: 0;
  }
  .contact-section form > div:first-child {
    margin-bottom: 0;
  }
  .site-footer .footer-main {
    padding-top: 72px;
    padding-bottom: 12px;
  }
  .site-footer .btn-main {
    padding-left: 21px;
    padding-right: 21px;
  }
  .site-footer input {
    padding-left: 12px;
    padding-right: 12px;
  }
  .site-footer .row > div {
    margin-bottom: 48px;
  }
  .site-footer .footer-bottom {
    text-align: center;
  }
  .site-footer .footer-bottom > div {
    margin-bottom: 24px;
  }
  .site-footer .footer-bottom > div:last-child {
    margin-bottom: 0;
  }
}
/* max-width: 576px */
@media (max-width: 576px) {
  section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-title {
    width: 90%;
    margin-bottom: 48px;
  }
  .lead {
    font-size: 1.1rem;
  }
  .site-header .navbar-brand {
    width: 108px;
  }
  .hero-area {
    padding-left: 24px;
    padding-right: 24px;
  }
  .hero-area .image-wrapper {
    margin-top: 136px;
    margin-bottom: 36px;
  }
  .hero-area .content-block {
    margin-bottom: 96px;
  }
  .hero-area .hero-facts {
    display: none;
  }
  .hero-area .link-group {
    margin-top: 36px;
  }
  .intro-section {
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .intro-section .item-wrapper {
    padding: 30px;
  }
  .intro-section .content-wrapper {
    margin-left: 0;
  }
  .intro-section .icon-box {
    float: none;
  }
  .facts-section {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .facts-section .icon-box {
    font-size: 36px;
  }
  .facts-section .number-data {
    font-size: 36px;
  }
  .about-section {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .about-section .content-block h2 {
    font-size: 36px;
  }
  .about-section .content-block h2 span {
    margin-bottom: 8px;
  }
  .about-section .image-block {
    margin-bottom: 36px !important;
  }
  .skill-section {
    padding-left: 24px;
    padding-right: 24px;
  }
  .portfolio-section {
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .portfolio-section .filter-button-group button {
    margin-bottom: 6px;
  }
  .service-section {
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .service-section .content-wrapper {
    padding: 36px 24px;
    text-align: left;
  }
  .service-section .content-wrapper h3 {
    margin-bottom: 24px;
  }
  .service-section .icon-box {
    width: 84px;
    height: 84px;
    margin-left: 0;
  }
  .resume-section {
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .features-section {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .features-section .image-wrapper img {
    width: 90%;
    left: -10px;
  }
  .testimonial-section {
    padding-left: 24px;
    padding-right: 24px;
  }
  .testimonial-section .swiper {
    height: 420px;
  }
  .testimonial-section .item-wrapper {
    padding: 54px 36px 42px;
  }
  .blog-section {
    padding-top: 80px;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
  }
  .blog-section .modal-body {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
  }
  .blog-section .modal .btn-close {
    right: 36px;
    top: 36px;
  }
  .partner-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .contact-section {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .contact-section .row .form-block {
    margin-bottom: 0;
  }
  .site-footer .footer-brand img {
    width: 130px;
  }
  .site-footer .footer-social a {
    font-size: 21px;
  }
}
/* max-width: 360px */
@media (max-width: 360px) {
  .block-title {
    font-size: 30px;
  }
  .section-title h2 {
    font-size: 16px;
  }
  .section-title h2:before,
  .section-title h2:after {
    display: none;
  }
  .hero-area .hero-head {
    font-size: 36px;
  }
  .hero-area .hero-head small {
    font-size: 18px;
  }
  .hero-area .link-group .btn-main {
    margin-bottom: 12px;
  }
  .hero-area .link-group a {
    display: block;
  }
  .about-section .content-block h2 {
    font-size: 30px;
  }
  .about-section .content-block h2 strong {
    font-size: 21px;
  }
  .skill-section .progress-block h4 {
    font-size: 14px;
  }
  .service-section .content-wrapper {
    padding: 24px;
  }
  .testimonial-section .quote-author {
    text-align: center;
  }
  .testimonial-section .quote-author .image-block {
    display: none;
  }
  .testimonial-section .item-wrapper {
    padding: 42px 24px 30px;
  }
  .testimonial-section .item-wrapper h4 {
    font-size: 18px;
  }
  .testimonial-section .item-wrapper p {
    margin-bottom: 24px;
  }
  .blog-section .row .large-post .post-content {
    left: 21px;
    right: 21px;
    bottom: 21px;
  }
  .blog-section .post-group .post-content {
    top: 21px;
    left: 21px;
    right: 21px;
    bottom: 21px;
  }
  .blog-section .row .large-post .post-content h3 {
    font-size: 18px;
  }
}
